.route-header {
  position: fixed;
  z-index: 10;
  background: $back_color;
  width: 100%;
  height: $header_height;
  padding-top: 5px;
  &__area {
    height: 100%;
    max-width: $header_width;
    margin: 0 auto;
    display: flex;
    &--logo {
      width: $header_width_logo;
      height: 100%;
    }
    &--right {
      height: 100%;
      width: 0 auto;
      width: calc(#{$header_width} - #{$header_width_logo});
      text-align: center;
      > div {
        height: calc(100% / 3);
      }
      .head-title {
        font-size: 20px;
      }
      .head-search {
        input {
          text-decoration: none;
          border: none;
          width: 100%;
          height: 80%;
        }
      }
      .head-status {
        display: flex;
        &__user-nav {
          &--input {
            width: 225px;
          }
          &--btn {
            text-decoration: none;
            line-height: 100%;
            background: black;
            color: white;
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 10px;
          }
        }
      }
    }
  }
}
.yield-area {
  // height: 800px; // test
  padding-top: $header_height;
}
.route-footer {
  width: 100%;
  height: 200px;
  background: black;
}
