- for num in 1..15 do
  .article-area__box
    .article-area__box--cut
      .cut-box
        .cut-box__left
        .cut-box__right
    .article-area__box--image
      .no_image
        no_image
    .article-area__box--info
      %h2
        text-title
      %h3
        text-name
