.article-area__box
  = link_to route_path(article) do
    .article-area__box--cut
      .cut-box
        .cut-box__left
        .cut-box__right
    .article-area__box--image
      - if article.route_photos.length > 0
        .route_image
          = image_tag(article.route_photos.first.photo)
      - else
        .no-image
          no_image
    .article-area__box--info
      %h2
        = article.title
